.link {
  transition: 0.5s;
}

.link a {
  display: flex;
  color: #000;
  padding: 1rem 2rem;
  margin-right: auto;
}

.link:hover a {
  background-color: #555;
  color: white;
}

.active {
  background-color: #04aa6d;
  color: white;
}
