.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #2393a6;

  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  /* height: 100%; */
  overflow: hidden;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  transition: 0.5s;
}

.navBar {
  display: inline-flex;
  flex-direction: row;
  justify-content: right;
}

.navBar a {
  display: flex;
  color: #000;
  padding: 1rem 2rem;
  margin-right: auto;
}

.burger {
  display: none;
  color: #000;
  padding: 1rem 2rem;
  justify-self: right;
}

.bar1,
.bar2 {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #333;
  margin: 0.2rem 0;
  transition: 0.4s;
  display: block;
}

.change .bar1 {
  transform: translate(0, 0.2rem) rotate(-45deg);
}

.change .bar2 {
  transform: translate(0, -0.2rem) rotate(45deg);
}

@media (max-width: 700px) {
  .menu {
    flex-direction: column;
  }
  .burger {
    display: inline-block;
  }
  .hidden {
    height: 0;
  }
}
