.bar1,
.bar2 {
  width: 1.5rem;
  height: 0.2rem;
  background-color: #333;
  margin: 0.2rem 0;
  transition: 0.4s;
  display: block;
}

.navOpen .bar1 {
  transform: translate(0, 0.2rem) rotate(-45deg);
}

.navOpen .bar2 {
  transform: translate(0, -0.2rem) rotate(45deg);
}
